@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'SDGothic';
  src: url('/fonts/AppleSDGothicNeo-Regular.ttf');
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.ttf');
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-Regular.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --green: #00a862;
  --brown: #9f7147;
  --lightGray-1: #838383;
  --lightGray-2: #f5f5f5;
  --lightGray-3: #f2f2f2;
  --lightGray-4: #e0e0e0;
  --lightGray-5: #e2e2e2;
  --lightGray-6: #7f7f7f;
  --lightGray-7: #999999;
  --lightGray-8: #cdcdcd;
  --lightGray-9: #dadada;
  --lightGray-10: #8c8c8c;
  --lightGray-11: #7e7e7e;
  --gray-1: #2d2d2d;
  --gray-2: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-green: var(--green);
  --color-brown: var(--brown);
  --color-lightGray-1: var(--lightGray-1);
  --color-lightGray-2: var(--lightGray-2);
  --color-lightGray-3: var(--lightGray-3);
  --color-lightGray-4: var(--lightGray-4);
  --color-lightGray-5: var(--lightGray-5);
  --color-lightGray-6: var(--lightGray-6);
  --color-lightGray-7: var(--lightGray-7);
  --color-lightGray-8: var(--lightGray-8);
  --color-lightGray-9: var(--lightGray-9);
  --color-lightGray-10: var(--lightGray-10);
  --color-lightGray-11: var(--lightGray-11);
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);

  --font-inter: 'Inter';
  --font-sd-gothic: 'SDGothic';
  --font-pretendard: 'Pretendard';

  --color-primary: var(--green);

  --font-body: 'NotoSansKR';
  --font-sub: 'SDGothic';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.padded {
  @apply px-6;
}
